<h1>Listener/Publisher</h1>

<script type="text/javascript">
$(function(){
  es = new EventSource("/sses?key=page")
  es.onopen = function(){
    alert("listening");
  };
  es.onerror = function(){
    alert('error...wah wah');
  };
  es.addEventListener('alert', function(){
    alert('received alert');
  }, false);
  es.onmessage = function(event){
    alert('received message', event);
  };
});
</script>
